.atext {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.rover-carousel-container {
    width: 65%;
    margin: 0 auto 5rem auto;
    position: relative;
    background: rgba(107, 107, 107, 0.279);
    border: 2px;
    border-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.rover-carousel {
    overflow: hidden;
}

.custom-prev-arrow,
.custom-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    color: white;
}

.custom-prev-arrow {
    left: -50px;
}

.custom-next-arrow {
    right: -50px;
}

.custom-prev-arrow:hover,
.custom-next-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.custom-prev-arrow i,
.custom-next-arrow i {
    font-size: 24px;
}

.rover-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.rover-image img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 2;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    color: black;
}

.linebox {
    position: absolute;
    left: 280px;
    top: 350vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 {
    height: 1px;
    width: 480px;
    background: #7B4AE2;
    max-width: 100%;
}

.line2 {
    width: 446px;
    height: 116px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #7B4AE2;
    max-width: 100%;
}

@media (max-width: 768px) {
    .line1 {
        width: 300px;
    }

    .line2 {
        width: 300px;
    }

    .linebox {
        left: 100px;
        top: 250vh;
    }
}

@media (max-width: 480px) {
    .line1 {
        width: 250px;
    }

    .line2 {
        width: 250px;
    }

    .linebox {
        left: 50px;
        top: 200vh;
    }
}

/* Swipe indicator */
.swipe-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}