.atext {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.rover-carousel {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.rover-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}

.rover-image img {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    color: black;
}

.linebox {
    position: absolute;
    left: 280px;
    top: 350vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 {
    height: 1px;
    width: 480px;
    background: #7B4AE2;
    max-width: 100%;
}

.line2 {
    width: 446px;
    height: 116px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #7B4AE2;
    max-width: 100%;
}

@media (max-width: 768px) {
    .line1 {
        width: 300px;
    }

    .line2 {
        width: 300px;
    }

    .linebox {
        left: 100px;
        top: 250vh;
    }
}

@media (max-width: 480px) {
    .line1 {
        width: 250px;
    }

    .line2 {
        width: 250px;
    }

    .linebox {
        left: 50px;
        top: 200vh;
    }
}